#root {
  text-align: center;
  font-family: sans-serif;
}
body {
  background-image: url("https://source.unsplash.com/1600x900/?landscape");
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}
body::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: #00000054;
  z-index: -11;
  width: 100vw;
  height: 100vh;
}
.container {
  padding: 10px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  background: #371777d1;
  width: 500px;
  margin: auto;
  border-radius: 39px;
  box-shadow: 0px 0px 33px 22px rgba(0, 0, 0, 0.64);
  -webkit-box-shadow: 0px 0px 33px 22px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 0px 0px 33px 22px rgba(0, 0, 0, 0.64);
}
.main-container header {
  width: 231px;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
header a {
  text-decoration: none;
  font-weight: 900;
  color: white;
  padding: 10px 18px;
  /* background: antiquewhite; */
  border-radius: 10px;
}
main h1 {
  color: white;
  font-size: 51px;
  font-family: monospace;
  font-weight: lighter;
}
.btn1 {
  position: absolute;
  top: 246px;
  left: 45px;
  width: 50px;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border: none;
  border-radius: 50%;
  background-color: #f6f6f6;
  color: black;
  cursor: pointer;
}
.btn2 {
  position: absolute;
  top: 246px;
  right: 45px;
  width: 50px;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border: none;
  border-radius: 50%;
  background-color: #f6f6f6;
  color: black;
  cursor: pointer;
}
